language: C
services:
- docker
git:
  depth: 3
  quiet: true
branches:
  only:
  - master
script: make base
env:
  matrix:
  - secure: FC9WA5qtF8WHaF7TJTCIbuTwby/FF8/1t1EZA7oMJ4tKxgIILQ5Z7Sq3PL3BITdnkB6zijK4lQSJObxrfWo9X3rHEGgoa6tmvfnDc5a9uTAIXfqchZ1fluSFF8stgbJbV7vLmDQ1R+orNZ0rjNWvpbTV/MoBrNnuGfN/jbHqhCJafFr2pgY9H/tP2p5VvbWbyeBYkz7HncW6CCGxKFaTQUr0JI8pYibIDIGfJeXxAvZ7WDu9Wv0E15ukULywIiN+9mhMYNyGAFBeuZW+SBWRWFw6JIlDMSS5NaNacVlTxAwTR1rXXg6FceYdMa47fVhCYEJsXcsiXyRv4ZmNFvsY50tl67MDiPald/tJGWxafxRX6SiE4eD0bA/BcFrpk4n3rWXB3sF7II0M3ohwFt33jkGlw8Yt3GwbMDDTJTZMktzPGE3oMg+gGMMoeWyU4Qp1/DgRCcnoNo7YoPGYuVpsXp+L2RjNy8NmWUAlxjFGxnOjIveB9bImpXX/RBNiwE26WuxvDjz1sy/RzBFXzFfKzqKJQh3PFmZ7V+JuGUfCz0rcyMaVIwAFNIZYgDIuri0P0XQnPfXfEzH+bfVZ7Ocr0oBAwg31LI1qHOLPQDW4dLceDOPOMciotdf5joipW/46t1+spDqqX9JZhqa8UcK/0TqTGQ/WBgP1l4ncdOQrLzk=
  - secure: mWfoy/RvCNnOl57cSSDqbdywNTpXAiU8MJZXJ2/qjrPsoJcrXeU5mfIh9egidYP4gCDcTTQXZHM/wUtF3/HRSOOGGvG4/0ZdH8vTyQf1YbvTTrzm4y2jb020Vedj3UY3nvSXBJ9f/5+ZYHnt91wKZ3kXE18vgsDG8lYP5o3Z1uibeyLgrzc99iIo2ZcOwJjr6LhTqNDtGgV0KpR1Ad4ZMEU5DTcDq/UMblgHtVqHFbeTeyYwUylf65u2xssuXwmCkLFnygSkf5Ow6k13i6ARm0RrzZecfrMfWTZZDCqCuf1vA8xh8n34M82cGkY/9lUCL2j+K/zWQ40bQHaXoeRBx98nsiZDvp2slrgRqYvbMgdURdHSaiQ7NuaQ7SZL4bQbrrrLDPCQZ7L4xyiWSFU5nOrtirQOk/B0IG2NLL+g+4F+e2Fkakaw+iw/qqecMwHGFKnTrQ8rVZOybpLEC9IZb7Uestmp9TQvVX0E2t4MjVAYY0NPAPUDO8cL480C40T4M15cw5fh1aI6MMLQ02z+ZjKV2uq8phbEaf1xF4UGfbk1m+LPO5/KtuCXa54dgkoUmxYgta47tDwPAMpfp1tjyL1DFy6VH6q1nLInbUEZWfA6Fmwuzp85qMbDOAh6DHPfb92W3Ob0ZLii05CwxMH4shGbvIWYOidO2GqxqJB/vNM=
